@model IEnumerable<CMSDemo.Models.Post>
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Default</title>
    </head>
    <body>
        Hello! This is my View Component.
        @foreach(var post in Model)
        {
            <h2>@post.Title</h2>
            <p>@post.Content</p>
        }
    </body>
</html>
