
html, body {
    margin: auto;
    padding: 0;
    height: 97%;
    width: 99%;
    background-color: #fdf9f9;
    text-align: center;
}

h1 {
    font-size: 180px;
    color: red;
    font-family: 'Lora', serif;
}

input {
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    width: 100px;
}

.button {
    height: 47px;
    position: relative;
    top: -2px;
    margin-left: 5px;
    background-color: red;
    border: 2px solid black;
    color: white;
    font-weight: 500;
    font-weight: bold;
}


.timeBorder {
    /*height: 95%;*/
    width: 50%;
    overflow: hidden; /* or overflow:auto; if you want scrollbars */
    margin: auto;
    background-color: white;
}

.center {
    margin: auto;
    width: 50%;
}


.mainText {
    position: relative;
    top: 10%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 3px solid red;
    text-align: left;
    padding: 8px;
    color: black;
}

tr:nth-child(even) {
    background-color: red;
    color: white;
}
