.container {
    max-width: 80%;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }

  .nav {
      background-color: forestgreen;
      color: rgb(83, 41, 41);
      padding: 2rem;
      font-size: 2rem;
      display: flex;
      gap: 1rem;
  }
