@{ 
    Layout = "_Layout";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <h1> My Home Page</h1>

    @await Component.InvokeAsync("TopPosts", 3);
</body>
</html>