@using Microsoft.AspNetCore.Identity
@using CMSDemo.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <span style="float: right"> Welcome  @User.Claims.First(c => c.Type == "FullName").Value! </span>

    }
    else
    {
        <span style="float: right"> <a asp-page="/Account/Login">Login</a> </span>
        <span style="float: right"> <a asp-page="/Account/Register">Register</a> </span>
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>
