@model List<TimePersonSolution.Models.TimePerson>
@{
    ViewData["Title"] = "Result";
}


<html>
<head>
    <title>TIME Person of the Year</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>

<body>
    <h2>Result</h2>

    <a asp-action="Index">RETURN HOME</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Year</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td> <strong>@item.Name</strong> </td>
                <td> <strong>@item.Title</strong> </td>
                <td> <strong>@item.Year</strong> </td>
            </tr>
        }

    </table>


</body>
</html>