.buttons {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

.mileage {
    font-size: 3rem;
    font-weight: bold;
}
.container {
  /* min-height: 100vh; */
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(250, 236, 218);
}

