@model FormsDemo.Models.Pet

<!-- This gives us access internally to the enum -->
@using FormsDemo.Models
 
<h2>Add Pet</h2>

<form asp-controller="Home" asp-action="Add" method="post">
    <partial name="_Form" />
</form>