<form method="post" action="/Home/Create">
  <div class="form-group">
    <label for="Name">Name:</label>
    <input class="form-control" name="Name" />
  </div>
  <div class="form-group">
    <label for="Country">Advice:</label>
    <input class="form-control" name="Advice" />
  </div>
  <button type="submit" bs-button-color="danger">Add</button>
  <a class="btn btn-primary" href="/Home/Index">Cancel</a>
</form>
