@model IEnumerable<MVCDemo.Models.Person> 

<ul>

    @foreach( var person in Model )
      {
                <li>
                    <a asp-controller="Home" asp-action="Index" asp-route-name=@person.Name asp-route-age=@person.Age>@person.Name</a> 
                </li>
      }

</ul>