<!Doctype HTML>

<html>
<head>
    <title>Greeting Intake Form</title>
    <link rel="stylesheet" href="~/styles/StyleSheet.css" type="text/css" />

</head>

<body>
    <form method="post">
        <label name="FirstName">First Name</label>
        <input type="text" placeholder="FirstName" name="FirstName" />

        <label name="LastName">Last Name</label>
        <input type="text" placeholder="Last Name" name="LastName" />

        <label name="Age">Age</label>
        <input type="number" maxlength="2" name="Age" />

        <label name="FavoriteColor">Favorite Color</label>
        <input type="text" name="FavoriteColor" />

        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>