@model d8MVCDemo.Models.Student

<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Result of Student</title>
    <link rel="stylesheet" href="~/styles/StyleSheet.css" type="text/css" />

</head>
<body>

    <h1>@Model.FirstName @Model.LastName</h1>
    <p>@Model.Age years old</p>
    <p>Favorite Color: @Model.FavoriteColor</p>
</body>
</html>