<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AuthDemo</title>
</head>
<body>
    <header>
        <h1>Auth Demo</h1>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AuthDemo 
        </div>
    </footer>
</body>
</html>
